@import '/packages/zhenya:boilerplate/reset.import.less';
@import '/packages/zhenya:boilerplate/all.import.less';

.reset();
.shades();
.utils();
.colors();

body {
	color: @darkgray;
}

a {
	text-decoration: none;
}

.group {
	margin: 10px auto;
	padding: 20px;
}

.narrow {
	max-width: 512px;
}

.wide {
	max-width: 712px;
}

.jumbotron {
	font-size: 200%;
	margin-top: 30px;
}

.center {
	text-align: center;
}

h2 {
	margin-bottom: 10px;
	font-weight: 300;
}

ul {
	list-style-type: circle;
	li {
		margin-left: 40px;
	}
}

.features {
	ul {
		list-style-type: none;
		li {
			margin: 2px;
			display: inline-block;
			padding: 5px 10px;
			border: 1px solid lighten(@blue, 30%);
			color: @blue;
			.border-radius(20px);
			//background-color: lighten(@blue, 10%);
			//color: @white;
		}
	}
}

.clearfix(group);

.group {

	.group {
		padding: 0;
	}

	pre {
		font-family: "Ubuntu Mono", monospace;
		background-color: @light;
		color: @dark;
		padding: 10px 15px;
		margin-bottom: 15px;
		.border-radius(4px);
		vertical-align: top;
		float: right;
		display: inline-block;
		min-width: 30%;
		margin-left: 15px;
		max-width: 60%;

		
		white-space: pre-wrap;
		
	}

	code {
		font-family: "Ubuntu Mono", monospace;
		background-color: @light;
		color: @dark;
		.border-radius(4px);
		padding: 2px 5px;
	}

	p+p {
		margin-top: 10px;
	}

	.demo {
		margin: 0 auto;
		margin-top: 20px;
	}
}

.footer {
	background-color: @light;
	padding: 60px 10px;
	margin-top: 30px;
}

.logo {
	display: inline-block;
	@logo: 30px;
	>* {
		vertical-align: middle;
		.transition(all 350ms ease-in-out);
	}
	.icon {
		width: @logo;
		height: @logo;
		display: inline-block;
		background-image: url('/images/logo_white.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 70%;
		background-color: darken(@light, 10%);
	}
	h2 {
		text-transform: uppercase;
		color: @lightgray;
		font-size: @logo*0.5;
		margin: 0;
		margin-top: 5px;
	}

	&:hover {
		>* {
			.transition(all 100ms ease-in-out);
		}
		.icon {
			background-color: @gray;
		}
		h2 {
			color: @gray;
		}
	}
}

.events {
	
	text-align: center;

	div {
		display: inline-block;
		color: @gray;
		border: 1px solid @gray;
		margin: 5px;
		text-transform: uppercase;
		padding: 5px 10px;
		font-size: 80%;
		.border-radius(4px);
		.transition(all 1s ease-in-out);

		&.flash {
			background-color: @blue;
			border-color: @blue;
			color: @white;
			.transition(none);
		}
	}
}

