@import '/packages/zhenya:boilerplate/reset.import.less';
@import '/packages/zhenya:boilerplate/all.import.less';

.reset();
.shades();

body {
	color: @darkgray;
}

.group {
	max-width: 512px;
	margin: 10px auto;
	padding: 20px;
}

.jumbotron {
	font-size: 200%;
}

.center {
	text-align: center;
}

h2 {
	margin-bottom: 20px;
}